<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de agregacion de miembros</title>
</head>
<body>
    <form method="post"> {% csrf_token %}
        <strong> <h2> Agregar un nuevo miembro a la base de datos</h2></strong>
        <input type="text" placeholder="Nombre" name="nombre"> <br> <br>
        <input type="text" placeholder="Apellido" name="apellido"> <br> <br>
        <input type="text" placeholder="Puesto" name="puesto"> <br> <br>
        <input type="text" placeholder="Fecha de nacimiento" name="fecha_nacimiento"> <br> <br>
        <input type="text" placeholder="Año de Ingreso" name="año_ingreso"> <br> <br>
        <input type="submit" value="Crear">
    </form>
</body>
</html>