{% extends "productos/base.html" %}

{% block contenido %}

    {% for persona in personal %}

        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">{{persona.nombre}} {{persona.apellido}}</h2>
                    <p class="card-text">Ingresa en "Mas info" y conoce mas sobre nuestro equipo de trabajo</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Mas info</a></div>
            </div>
        </div>

    {% endfor %}

{% endblock %}